<style>

</style>

<script>
    $(function () {
    var $j = jQuery.noConflict();
       $j("#datepicker").datepicker();
  } );
</script>
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="input-group date" data-provide="datepicker">
                <input type="text" id="datepicker">
            </div>
        </div>
    </div>
</div>